@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');

.graph-container {
  background-color: white;
}

.button {
  border-radius: 3px;
}

.button:hover {
  background-color: rgb(61,56,53); /* Green */
  color: white;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px;
}

.icon-container{
  background-color: white;
}

.full {
  height: 100%;
}

.center-box {
  width: 750px;
  margin-top: auto;
  margin-bottom: auto;
}

.animated-container {
  background-color: rgb(255,176,77);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: height 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animated-container > div {
  position: unset;
}

.top-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light {
  font-weight: 700;
}

.title {
  font-size: 50px;
  font-weight: 400;
  font-family: 'Lora';
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 750px;
  background-color: white;
}

.input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 18px;
  background-color: white;
}

.microphone-icon {
  margin-left: 10px;
  color: rgb(61,56,53);
  cursor: pointer;
  font-size: 24px;
  background-color: white;
}

.graph-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 500px;
}

.graph-container canvas {
  width: 100%;
  height: 400px;
  max-height: 600px;
}
